# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Custom
Release/*
Debug/*
ipch/*
*.sln
*.sdf
*.opensdf
*.dll
*.vcxproj
*.vcxproj.*
*.suo